In [14]:
import pandas as pd
import numpy as np
import re

In [37]:
test_data = '''[1518-11-01 00:00] Guard #10 begins shift
[1518-11-01 00:05] falls asleep
[1518-11-01 00:25] wakes up
[1518-11-01 00:30] falls asleep
[1518-11-01 00:55] wakes up
[1518-11-01 23:58] Guard #99 begins shift
[1518-11-02 00:40] falls asleep
[1518-11-02 00:50] wakes up
[1518-11-03 00:05] Guard #10 begins shift
[1518-11-03 00:24] falls asleep
[1518-11-03 00:29] wakes up
[1518-11-04 00:02] Guard #99 begins shift
[1518-11-04 00:36] falls asleep
[1518-11-04 00:46] wakes up
[1518-11-05 00:03] Guard #99 begins shift
[1518-11-05 00:45] falls asleep
[1518-11-05 00:55] wakes up'''

In [38]:
puz_df = pd.read_csv('data/input_4.txt',names=['entries'],header=None)

In [54]:
def parse_entry(row):
    entry = row['entry']
    pattern = r'(\[(\d|-| |:)+\] )(Guard #\d+)?(\D+)'
    matches = re.match(pattern,entry)
    row['timestamp'] = matches.group(1)
    row['guard'] = matches.group(3)
    row['action'] = matches.group(4)
    return row

In [26]:
parse_entry('[1518-11-01 00:00] Guard #10 begins shift')

('[1518-11-01 00:00] ', 'Guard #10', ' begins shift')

In [18]:
parse_entry('[1518-11-05 00:55] wakes up')

('[1518-11-05 00:55] ', None, 'wakes up')

In [43]:
test_df = pd.DataFrame(test_data.split('\n'),columns=['entry'])

In [56]:
test_df = test_df.apply(parse_entry,axis=1)

In [71]:
test_df['timestamp_clean'] = pd.to_datetime(test_df['timestamp'].str.replace('\[|\]',''),format='%Y-%m-%d %H:%M ')

OutOfBoundsDatetime: Out of bounds nanosecond timestamp: 1518-11-01 00:00:00

In [72]:
test_df

,entry,timestamp,guard,action,timestamp_clean
0,[1518-11-01 00:00] Guard #10 begins shift,[1518-11-01 00:00],Guard #10,begins shift,1518-11-01 00:00
1,[1518-11-01 00:05] falls asleep,[1518-11-01 00:05],None,falls asleep,1518-11-01 00:05
2,[1518-11-01 00:25] wakes up,[1518-11-01 00:25],None,wakes up,1518-11-01 00:25
3,[1518-11-01 00:30] falls asleep,[1518-11-01 00:30],None,falls asleep,1518-11-01 00:30
4,[1518-11-01 00:55] wakes up,[1518-11-01 00:55],None,wakes up,1518-11-01 00:55
5,[1518-11-01 23:58] Guard #99 begins shift,[1518-11-01 23:58],Guard #99,begins shift,1518-11-01 23:58
6,[1518-11-02 00:40] falls asleep,[1518-11-02 00:40],None,falls asleep,1518-11-02 00:40
7,[1518-11-02 00:50] wakes up,[1518-11-02 00:50],None,wakes up,1518-11-02 00:50
8,[1518-11-03 00:05] Guard #10 begins shift,[1518-11-03 00:05],Guard #10,begins shift,1518-11-03 00:05
9,[1518-11-03 00:24] falls asleep,[1518-11-03 00:24],None,falls asleep,1518-11-03 00:24
10,[1518-11-03 00:29] wakes up,[1518-11-03 00:29],None,wakes up,1518-11-03 00:29
11,[1518-11-04 00:02] Guard #99 begins shift,[1518-11-04 00:02],Guard #99,begins shift,1518-11-04 00:02
12,[1518-11-04 00:36] falls asleep,[1518-11-04 00:36],None,falls asleep,1518-11-04 00:36
13,[1518-11-04 00:46] wakes up,[1518-11-04 00:46],None,wakes up,1518-11-04 00:46
14,[1518-11-05 00:03] Guard #99 begins shift,[1518-11-05 00:03],Guard #99,begins shift,1518-11-05 00:03
15,[1518-11-05 00:45] falls asleep,[1518-11-05 00:45],None,falls asleep,1518-11-05 00:45
16,[1518-11-05 00:55] wakes up,[1518-11-05 00:55],None,wakes up,1518-11-05 00:55

In [61]:
puz_df.head()

                                       entries
0              [1518-07-04 00:01] falls asleep
1                  [1518-06-27 00:42] wakes up
2                  [1518-06-12 00:48] wakes up
3  [1518-06-07 00:03] Guard #2789 begins shift
4   [1518-08-11 00:04] Guard #643 begins shift