In [26]:
import pandas as pd
import numpy as np

In [14]:
data = pd.read_csv('data/input_3.txt',header=None,delimiter=' ',names=['a','b','c','d'])

In [16]:
data.head()

    a  b         c      d
0  #1  @  527,351:  24x10
1  #2  @  384,468:  27x21
2  #3  @  547,294:  19x13
3  #4  @  910,172:  19x18
4  #5  @  409,238:  25x10

In [20]:
data[['x', 'y']] = data['c'].str.split(',', n=1, expand=True)
data[['len', 'width']] = data['d'].str.split('x', n=1, expand=True)

In [22]:
data['y'] = data['y'].str.replace(':','')

In [96]:
# Lol, not 100% sure I got x and y right way around
data[['x','y','len','width']] =data[['x','y','len','width']].astype(int)

In [32]:
data.head()

    a  b         c      d    x    y  len  width
0  #1  @  527,351:  24x10  527  351   24     10
1  #2  @  384,468:  27x21  384  468   27     21
2  #3  @  547,294:  19x13  547  294   19     13
3  #4  @  910,172:  19x18  910  172   19     18
4  #5  @  409,238:  25x10  409  238   25     10

In [98]:
def fill_fabric(elves,fabric_size):
    fabric = np.zeros((fabric_size,fabric_size))
    for i, elf in elves.iterrows():
        for _x in range(elf['len']):
            for _y in range(elf['width']):
                fabric[elf['x'] + _x][elf['y'] + _y] += 1
    return len(fabric[fabric > 1]), fabric

In [99]:
len(fabric[fabric > 1])

4

In [100]:
test_data = {'x':[1,3,5],
             'y':[3,1,5],
             'len':[4,4,2],
             'width':[4,4,2]
            }

test_df = pd.DataFrame(data=test_data)

In [107]:
t_overlap_count, t_filled_fabric = fill_fabric(test_df,10)

In [116]:
assert t_overlap_count == 4
assert find_non_overlap(test_df,t_filled_fabric) == 3

In [103]:
overlap_count, filled_fabric = fill_fabric(data,1000)

In [114]:
def find_non_overlap(elves,fabric):
    for i, elf in elves.iterrows():
        flag = True
        for _x in range(elf['len']):
            for _y in range(elf['width']):
                if fabric[elf['x'] + _x][elf['y'] + _y] > 1:
                    flag = False
        if flag:
            return i + 1

In [117]:
find_non_overlap(data,filled_fabric)

603